{% extends 'spices_admin/base.html' %}

{% load static %}

{% block content %}

<br>
<br>
<br>
<br>

<div class="container"> 
    <h2 style="text-align: center;" class="pt-5 pb-5">Update Order</h2>
</div>

<form action="{% url 'update_order' get_order.pk %}" method="POST" class="mx-auto" style="max-width: 500px;">
    {% csrf_token %}
    <div class="form-group">
        <label for="task">Task:</label>
        <select class="form-control" id="task" name="task">
            <option value="Pending">Pending</option>
            <option value="Accepted Order">Accepted Order</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
            <option value="Canceled">Canceled</option>
            <option value="Please fill the address correctly">Please fill the address correctly</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="from_date">Change From Date:</label>
        <input type="date" class="form-control" id="from_date" name="from_date" value="{{get_order.from_date}}">
    </div>
    <br>
    <div class="form-group">
        <label for="to_date">Change To Date:</label>
        <input type="date" class="form-control" id="to_date" name="to_date" value="{{get_order.to_date}}">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="width: 100%;">Update</button>
</form>

<br>
<br>
<br>


{% endblock %}